body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
}

#toolbox {
    margin-bottom: 10px;
}

#editor {
    width: 800px;
    height: 600px;
    border: 1px solid #333;
    position: relative;
    background-color: #a7ffeb;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #ff6600;
    position: absolute;
    cursor: move;
}

    .block:hover {
        opacity: 0.8;
    }

#save-level {
    margin-top: 10px;
}